/*************************** Theme Colours****************************/
// Define theme colour scheme
$theme-color-primary: #69F0AE;
$theme-color-secondary: #69F0AE;

$theme-text-color-primary: #212B35;
$theme-text-color-secondary: lighten($theme-text-color-primary, 25%);
$theme-text-color-light: lighten($theme-text-color-primary, 40%);

$theme-bg-light: #EFF2F5;
$theme-bg-dark: $theme-color-primary;

$theme-border-color:  #efefef;
$theme-divider-color: #efefef;

$theme-divider: lighten($theme-text-color-primary, 75%);

$theme-color-new: #5ab66e;
$theme-error: #EC575B;

$smoky-white: #f5f5f5;
$google-color: #d73d32;
$facebook-color: #3b5998;
$twitter-color: #1DA1F2;

.site-logo {
  a {
    .logo-icon {
      width: 40px;
      height: 40px;
    }
  }
}


.hero-video {
    width: 100%; /* Set the width to 100% */
    height: 50vh; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the entire area */
}

.hero-video-container {
    position: relative;
    width: 100%; /* Set the width to 100% */
    height: 50vh; /* Set the height to 50% of the viewport height */
}

.hero-video-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 1; /* Ensure the dark layer is behind the video */
}

/* Default styles */
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2; /* Ensure content is above the video */
    max-width: 80%; /* Adjust the max-width as needed */
    width: 100%; /* Set the width to 100% */
    height: auto; /* Allow content to adjust its height */
    max-height: 40%; /* Adjust the max-height as needed */
    overflow-y: auto; /* Enable vertical scrolling if needed */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .hero-content {
        padding: 0 20px; /* Add padding to the sides */
    }
}


.hero-content .container {
    max-width: 600px; /* Adjust as needed */
}

.hero-content h2 {
    font-weight: bold;
    font-size: 2rem; /* Adjust as needed */
}

.hero-content .site-tagline {
    margin-top: 20px; /* Adjust as needed */
    font-size: 1.2rem; /* Adjust as needed */
}

.cta-btns {
    margin-top: 20px; /* Adjust as needed */
}

.app-stores {
    list-style: none;
    padding: 0;
}

.app-stores li {
    display: inline-block;
    margin-right: 10px; /* Adjust as needed */
}



/*************************** Variables Section. *****************************/
// Create variables to override the default value for variables used in the Bootstrap SCSS files.

$gray-100: lighten($theme-text-color-primary, 65%);
$gray-200: lighten($theme-text-color-primary, 55%);
$gray-300: lighten($theme-text-color-primary, 50%);
$gray-400: lighten($theme-text-color-primary, 45%);
$gray-500: lighten($theme-text-color-primary, 40%);
$gray-600: lighten($theme-text-color-primary, 30%);
$gray-700: lighten($theme-text-color-primary, 20%);
$gray-800: lighten($theme-text-color-primary, 10%);
$gray-900: $theme-text-color-primary;


/* Override BS5 sass color */
$primary: $theme-color-primary;
$secondary: $theme-text-color-secondary;

/*************************** Import Bootstrap  *****************************/
@import "bootstrap/scss/bootstrap.scss";


/*************************** Theme Styles Section ****************************/
@import "theme/styles.scss"

